:root {
    --primary-font: "Poppins", sans-serif;
    --bg-black: #343434;
    --bg-smooth-black: #484848;
    --bg-blue: #5fb6b6;
    --bg-smooth-blue: #bddbdb;
    --bg-red: #cf6258;
    --bg-smooth-red: #e3a29d;
    --bg-white: #ffffff;
}

html {
    font-family: var(--primary-font);
    height: 100dvh;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    color: var(--bg-white);
    height: 100%;
    margin: auto;
}

button {
    border: none;
    background-color: transparent;
    color: var(--bg-white);
    cursor: pointer;
}

svg {
    cursor: pointer;
}

/* VARIABLES */
.bg-black {
    background-color: var(--bg-black);
}

.bg-blue {
    background-color: var(--bg-blue);
}

.bg-red {
    background-color: var(--bg-red);
}

.bg-smooth-black {
    background-color: var(--bg-smooth-black);
}

.bg-smooth-blue {
    background-color: var(--bg-smooth-blue);
}

.bg-smooth-red {
    background-color: var(--bg-smooth-red);
}

/* BASICS */

/* BORDERS */
.border-top {
    border-top: 1px solid var(--bg-white);
}

/* TITTLES */
.content-title {
    text-transform: uppercase;
}

/* TEXT */
.text-line {
    text-decoration: line-through;
}

.text-specs {
    margin: 0;
}

/* FLEX */
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.flex-content-thumbail {
    display: flex;
}

.justify-content-sb {
    justify-content: space-between;
}

.justify-content-ct {
    justify-content: center;
}

.justify-content-fe {
    justify-content: flex-end;
}

/* GAPS */
.gap-1 {
    gap: 1rem;
}

/* MARGINS */
.m-0 {
    margin: 0;
}

/* BUTTONS */
.btn {
    border: 1px solid var(--bg-white);
    border-radius: 0.8rem;
    width: 30px;
    height: 30px;
    font-weight: bold;
}

/* IMAGES */
.image {
    max-width: 400px;
    object-fit: cover;
    animation: levitate 2s infinite alternate ease-in-out;
}

.img-thumbnail {
    object-fit: cover;
    border: 1px solid var(--bg-white);
    border-radius: 0.8rem;
    cursor: pointer;
}

.img-thumbnail:hover {
    background-color: var(--bg-white);
}

/* CONTENT */
#content {
    display: grid;
    grid-template-rows: 10% 80% 10%;

    width: 100%;
    max-width: 65vw;

    height: 100%;
    max-height: 730px;

    padding: 0rem 2rem;
    border-radius: 0.8rem;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content-columns {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}

.main-content-images {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* MEDIA QUERIES */
@media (min-width: 1025px) {
    .flex-content-thumbail {
        flex-direction: column;
    }

    .content-title {
        font-size: 40px;
    }
}

@media (max-width: 1024px) {
    .content-title {
        font-size: 32px;
    }

    .main-content-columns {
        display: flex;
        flex-direction: column;
    }

    #content {
        max-width: 80vw;
        max-height: 96%;
    }

    .main-content-images {
        grid-template-columns: none;
        grid-template-rows: 20% 80%;
    }

    .image  {
        max-width: 310px;
    }
}

@media (min-width: 768px) {
    .img-thumbnail {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    #content {
        grid-template-rows: 5% 90% 5%;
        padding: 1rem 2rem;
    }

    .img-thumbnail {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 425px) {

    h2 {
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .content-title {
        font-size: 18px;
    }

    .image  {
        max-width: 230px;
    }

    p {
        font-size: 12.5px;
    }
}

@keyframes levitate {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}